.black {
    height: 60vh;
    background-color: black;
    align-items: flex-end;
    border: 10px solid black;
}

div {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    min-height: 120vh;
    filter: grayscale(1);
}

#firstpic {
    background-image: url('https://www.thesprucepets.com/thmb/hxWjs7evF2hP1Fb1c1HAvRi_Rw0=/2765x0/filters:no_upscale():strip_icc()/chinese-dog-breeds-4797219-hero-2a1e9c5ed2c54d00aef75b05c5db399c.jpg');
    
}

#secondpic {
    background-image: url('https://images.theconversation.com/files/625049/original/file-20241010-15-95v3ha.jpg?ixlib=rb-4.1.0&rect=4%2C12%2C2679%2C1521&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip');
}